@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}

p {
  font-size: 18px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.text {
  display: flex;
  flex-direction: column;
  color: #333;
}

.text h1, p {
  margin: 0 0 10px;
}

.message {
  display: none;
  background: #ff6a00;
  font-weight: 300;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}

.calendar {
  padding: 10px 0;
}

input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
}

.boxes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #ff6a00;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  flex: 1;
  margin: 0 5px; /* Agregar espaciado horizontal entre las cajas */
}

.text-date {
  font-size: 14px;
  text-transform: uppercase;
}

.number {
  font-size: 32px;
  font-weight: bold;
}

#btnCalculate {
  background-color: #ff6a00;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#btnCalculate:hover {
  background-color: #e64a00;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 400;
  color: #595959;
}

footer a {
  text-decoration: none;
  color: #e64a00;
}

.declaim {
  max-width: 400px;
  text-transform: none;
  letter-spacing: 1px;
  text-align: center;
}